@import '_settings.scss';
@import 'foundation';
@include foundation-everything;

[hidden] {
  display: none;
}

.top-bar {
  color:$white;
  a {
    color:$white;
    font-weight:bold;
  }
  .menu-text {
    padding:0;
    font-family: $header-font-family;
  }
}

main {
  min-height:600px;
}

footer {
  font-family: $header-font-family;
  font-size:$small-font-size;
  padding-top:1rem;
  background:$light-gray;
}

.button {
  font-family: $header-font-family;
  font-weight:bold;
}

.messages {
  padding-left:0;
  margin-left:0;
  text-align:center;
  font-weight:bold;
  li {
    margin-left:0;
    list-style-type: none;
    margin-left: 0;
  }
}