@import '_settings.scss';
@import 'foundation';
@include foundation-everything;

.top-bar {
  color:$white;
  a {
    color:$white;
    font-weight:bold;
  }
  .menu-text {
    padding:0;
    font-family: $header-font-family;
  }
}

main {
  min-height:600px;
}

footer {
  font-family: $header-font-family;
  font-size:$small-font-size;
  padding-top:1rem;
  background:$light-gray;
}

.button {
  font-family: $header-font-family;
  font-weight:bold;
}