{% load foundation_filters %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
      
    {% endblock %}
  </title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
  <script language="javascript">var STATIC_URL = "{% static "" %}";</script>
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
  <script type="text/javascript" src="https://openlayers.org/en/v3.19.1/build/ol.js"></script>
  <link rel="stylesheet" type="text/css" href="https://openlayers.org/en/v3.19.1/css/ol.css">
  <link href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>
  <script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
  {% block head %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main.min.css" %}">
</head>
<body>

<header class="top-bar">
  <nav>
    <div class="top-bar-title">
      <span id="menu_collapse" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
      </span>
      <ul class="menu">
        <li class="menu-text">
          <a href="{% url 'index' %}">Open Notices</a>
        </li>
      </ul>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="{% url 'notice-create' %}">Post a notice</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'alert-list' %}">Your alerts</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'alert-create' %}">Create an alert</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- 
<header class="top-bar">
  <nav>
   <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Site Title</strong>
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="{% url 'index' %}">Open Notices</a>
        </li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'alert-list' %}" class="button small">Manage your alerts</a>
          </li>          
        {% else %}
          <li>
            <a href="{% url 'alert-create' %}" class="button small">Create a local alert</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header> -->
<main>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="callout {{ message.tags|message_tag_to_callout }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
  {% block content %}
  {% endblock %}
</main>
<!-- <footer>
  <div class="row">
    <div class="column small-12 medium-6">
      <p>
        This is an alpha. Things may break.
      </p>
      <ul>
        <li>
          <a href="{% url 'notice-create' %}">Add a notice</a>
        </li>
        <li>
          <a href="{% url 'notice-list' %}">All notices</a>
        </li>
        <li>
          <a href="{% url 'api' %}">API</a>
        </li>
      </ul>
    </div>
    <div class="column small-12 medium-6">
      <p class="text-right">
        {% if user.is_authenticated %}
            Signed in as {{user.email}} <a href="{% url 'logout' %}"  class="button small">Sign out</a>
        {% else %}
            <a href="{% url 'login' %}" class="button small">Sign in</a>
        {% endif %}
      </p>
    </div>
  </div>
</footer> -->
</body>
</html>
