{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  About Open Notices
{% endblock %}
{% block content %}
  <div class="content row column small-12 medium-7 large-6">
    <h1>About Open Notices</h1>
    <p>
      Open Notices is a platform for publishing civic notices that apply to a specific geography for a fixed time &mdash; things like planning applications, local consultations or items needed by a food bank.
    </p>
    <p>
    Anyone can publish a notice (think of it like Wikipedia for civic information), but local government and other organisations can ask to be verified to make it clear which notices that have come directly from them, and which have been submitted by the public.
    </p>
    <p>
      It's not about publishing text though. Open Notices makes it easy to make notices available as structured data, via a decent API.
       This makes it easier to add civic notices to community websites, to apps, or even printed on receipts in a local cafe.
    </p>
    <p>
       (There is a basic alerts service too - you can just draw the outline of the neighbourhood you are interested in on a map and you'll receive an email every time there is a new notice in that area- but hopefully most people won't use it in the long-run.)
    </p>

  </div>
{% endblock %}