{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  About Open Notices
{% endblock %}
{% block content %}
  <div class="row column small-12 large-6">
    <h1>About Open Notices</h1>
    <p>
      Open Notices is a place to publish civic notices on a map &mdash; things like planning application, items needed by food banks or local consultations.
    </p>

    <p>
      It's not just about publishing text though. Open Notices makes everything available as data, via an API, to make it easier to include civic information on community websites, in apps or maybe even printed on receipts in a local cafe.
    </p>

    <p>
    Anyone can add a notice - think of it like Wikipedia for civic information - either one at a time, or via the API. Official organisations, like councils or charities, can ask to be verified, so it is clear which notices that have come directly from them.
    </p>
    
    <p>
      Open Notices also provides a basic email alerts service - just draw the neighbourhood you are interested in on a map - although in the long run, we hope most people don't use it.
    </p>


  </div>
{% endblock %}