{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  API
{% endblock %}
{% block content %}
  <div class="row column small-12">
    <h1>API</h1>
    <p><a href="{% url 'drfdocs' %}">Read the documentation</a></p>
    {% if user.is_authenticated %}
      <h2>API Key</h2>
      
      <form action="" method="post">
        {% csrf_token %}
        {% if token %}
          <code>{{token}}</code>
          <p>
            <button type="submit" name="regenerate" value="regenerate" class="button">Regenerate your API key</button>
          </p>
        {% else %}
          <p>You do not have an API key</p>
          <p>
            <button type="submit" name="generate" value="generate" class="button">Create an API key</button>
          </p>
        {% endif %}
      </form>
    {% else %}
      <p>
        <a href="{% url 'login' %}">Sign in</a> to create an API key.
      </p>
    {% endif %}
{% endblock %}