{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Open Notices
{% endblock %}
{% block head %}
  <script type="text/javascript" src="{% static 'javascript/map.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
{% endblock %}
{% block content %}
<div id="map" class="map"></div>
<div class="row collapse">
  <div id="intro" class="column small-12">
    <div>
      <h1>Welcome to Open Notices</h1>
      <p>The open database of <span id="intro-text-examples">official notices</span></p>
    </div>
    <form action="{% url 'notice-list' %}" method="get" style="display:none;">
      <label id="q_label" for="q">Search</label>
      <div aria-labelledby="q_label">
        <div class="input-group">
          <input id="q" name="q" class="input-group-field" placeholder="Search by place name">
          <div class="input-group-button">
            <input type="submit" class="button" value="Go">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="reveal" id="alpha_popup" data-reveal>
  <h2>Hello.</h2>
  <p class="lead">Local Notices is currently in alpha, so things will probably break.</p>
  <p>
    Local Notices is currently locked to a single neighbourhood in South London, UK.
  </p>
  <p>
    If you would like to help build a global, open database of civic notices, please take a look at the tasks on <a href="https://github.com/memespring/open-notices/issues">Github</a> or <a href="https://groups.google.com/forum/#!forum/localnotices">join the mailing list</a> to ask for a region to be unlocked.
  </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock %}