{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Open Notices
{% endblock %}
{% block head %}
  <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="row column small-12">
    <h1>Notices</h1>
    <ul>
      {% for notice in notices %}
        <li>
          <a href="{% url 'notice-detail' notice.id %}">{{notice.title}}</a>
        </li>
      {% endfor %}
    </ul>
    <aside class="data-links">
      <a href="{% url 'notice-list' %}.api">Browse API</a>
    </aside>
  </div>
{% endblock %}