{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}
  {{notice.title}}
{% endblock %}
  
{% block content %}
  <div class="row column small-12">
    <h1>{{notice.title}}</h1>
    <p>{{notice.details|markdown}}</p>
    <p>{{notice.location}}</p>
    <aside class="data-links">
      <ul>
        <li><a href="{% url 'notice-detail' notice.id %}.json">JSON</a></li>
        <li><a href="{% url 'notice-detail' notice.id %}.geojson">GEOJSON</a></li>
        <li><a href="{% url 'notice-detail' notice.id %}.csv">CSV</a></li>
      </ul>
    </aside>
  </div>
{% endblock %}