{% load foundation_filters %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
      
    {% endblock %}
  </title>
  <script language="javascript">var STATIC_URL = "{% static "" %}";</script>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://openlayers.org/en/v3.19.1/build/ol.js"></script>
  <link rel="stylesheet" type="text/css" href="https://openlayers.org/en/v3.19.1/css/ol.css">
  {% block head %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body>

<header class="top-bar">
  <nav>
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="{% url 'notice-list' %}">Open Notices</a>
        </li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'alert-create' %}" class="button small">Manage your alerts</a>
          </li>          
        {% else %}
          <li>
            <a href="{% url 'alert-create' %}" class="button small">Create a local alert</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
<main>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="callout {{ message.tags|message_tag_to_callout }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
  {% block content %}
  {% endblock %}
</main>
<footer>
  <div class="row">
    <div class="column small-12 medium-6">
      <p>
        This is an alpha. Things may break.
      </p>
      <ul>
        <li>
          <a href="{% url 'notice-create' %}">Add a notice</a>
        </li>
        <li>
          <a href="{% url 'notice-list' %}">All notices</a>
        </li>
      </ul>
    </div>
    <div class="column small-12 medium-6">
      <p class="text-right">
        {% if user.is_authenticated %}
            Signed in as {{user.email}} <a href="{% url 'logout' %}"  class="button small">Sign out</a>
        {% else %}
            <a href="{% url 'login' %}" class="button small">Sign in</a>
        {% endif %}
      </p>
    </div>
  </div>
</footer>
</body>
</html>
