{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <script type="text/javascript" src="{% static 'javascript/map.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/alert-create.js' %}"></script>
{% endblock %}

{% block title %}
  New alert
{% endblock %}
  
{% block content %}
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="callout alert">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="callout alert">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
  <div id="map" class="map"></div>
  <form action="" method="post">
      {% csrf_token %}
      {{form.location}}
      <div id="intro" class="column small-12">
        <h1>Draw the area you would like alerts for</h1>
        {% if user.is_authenticated %}
          <button type="submit" class="button expanded">Create alert</button>
        {% else %}
          <button type="submit" class="button expanded">Next</button>
        {% endif %}
      </div>
  </form>
{% endblock %}