{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block title %}
  Manage alerts
{% endblock %}

{% block head %}
  <script type="text/javascript" src="{% static 'javascript/static-map.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row column small-12">
    <h1>Manage alerts</h1>
    <p>
      You can setup email alerts for a particular area of interest.  
    </p>
    <p>
      <a href="{% url 'alert-create' %}" class="button">Create a new alert</a>
    </p>
    {% if object_list %}
      <ul>
        {% for alert in object_list %}
            <li>
              <div id="map-{{alert.id}}"></div>
              <p>This alert created {{alert.created_at|naturalday}} and last checked on {{alert.last_checked_at|naturaltime}}</p>
              <p>
                <a href="{% url 'alert-delete' alert.id %}" class="button alert small expanded">
              Delete this alert</a>
              </p>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      {% for alert in object_list %}
        staticMap('map-{{alert.id}}', "{% url 'alert-detail-api' alert.id %}.geojson")
      {% endfor %}
    });
  </script>
{% endblock %}