{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block title %}
  Manage alerts
{% endblock %}

{% block head %}
  <script type="text/javascript" src="{% static 'javascript/static-map.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row column small-12">
    <h1>Manage alerts</h1>
    <p>
      You can setup email alerts for a particular area of interest.  
    </p>
    <p>
      <a href="{% url 'alert-create' %}" class="button">Create a new alert</a>
    </p>
    {% if object_list %}
      <ul class="alerts">
        {% for alert in object_list %}
            <li class="row">
              <div class="column small-12 medium-8" id="map-{{alert.id}}"></div>
              <div class="column small-12 medium-4">
                <p>This alert created {{alert.created_at|naturalday}} and last checked on {{alert.last_checked_at|naturaltime}}</p>
                <p>
                  <a href="{% url 'alert-delete' alert.id %}" class="button alert small expanded">
                Delete this alert</a>
                </p>
                <aside class="data-links">
                  <ul>
                    <li><a href="{% url 'alert-detail-api' alert.id %}.json">JSON</a></li>
                    <li><a href="{% url 'alert-detail-api' alert.id %}.geojson">GEOJSON</a></li>
                    <li><a href="{% url 'alert-detail-api' alert.id %}.csv">CSV</a></li>
                    <li><a href="{% url 'notice-list-api' %}.json?poly={{alert.location.json|urlencode}}">Notices as JSON</a></li>
                    <li><a href="{% url 'notice-list-api' %}.geojson?poly={{alert.location.json|urlencode}}">Notices as GEOJSON</a></li>
                    <li><a href="{% url 'notice-list-api' %}.csv?poly={{alert.location.json|urlencode}}">Notices as CSV</a></li>
                  </ul>
                </aside>
              </div>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      {% for alert in object_list %}
        staticMap('map-{{alert.id}}', "{% url 'alert-detail-api' alert.id %}.geojson")
      {% endfor %}
    });
  </script>
{% endblock %}