{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Open Notices
{% endblock %}
{% block head %}
  <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="row column small-12">
    <h1>Notices</h1>
    <ul>
      {% for notice in object_list %}
        <li>
          <a href="{% url 'notice-detail' notice.id %}">{{notice.title}}</a>
        </li>
      {% endfor %}
    </ul>
    <aside class="data-links">
      <ul>
        <li><a href="{% url 'notice-list' %}.json">JSON</a></li>
        <li><a href="{% url 'notice-list' %}.geojson">GEOJSON</a></li>
        <li><a href="{% url 'notice-list' %}.csv">CSV</a></li>
      </ul>
    </aside>
  </div>

  {% include "notices/_pagination.html" %}

{% endblock %}