{% extends "base.html" %}
{% load staticfiles %}
{% load foundation_formtags %}
{% load markdown_deux_tags %}

{% block head %}
  {{ form.media }}
  <script type="text/javascript" src="{% static 'javascript/create-notice.js' %}"></script>
{% endblock %}

{% block title %}
  
{% endblock %}
  
{% block content %}
  <div class="row column small-12">
    <h1><small>(Step 2 of 3)</small>Dates applicable</h1>
    <p>
      Enter the dates the notice is relevant between.
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {% render_field form.starts_at %}
      {% render_field form.ends_at %}
      {% render_field form.timezone %}
      <div>
        <button type="submit" class="button expanded">Publish</button>
      </div>
    </form>
  </div>
{% endblock %}