{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Open Notices
{% endblock %}
{% block head %}
  <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="row column small-12">
    <h1>Notices</h1>
    <ul>
      {% for notice in object_list %}
        <li>
          <a href="{% url 'notice-detail' notice.id %}">{{notice.title}}</a>
        </li>
      {% endfor %}
    </ul>
    <aside class="data-links">
      <ul>
        <li><a href="{% url 'notice-list' %}.json">JSON</a></li>
        <li><a href="{% url 'notice-list' %}.geojson">GEOJSON</a></li>
        <li><a href="{% url 'notice-list' %}.csv">CSV</a></li>
      </ul>
    </aside>
  </div>

  {% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="unavailable">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="current"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="unavailable"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}