{% extends "base.html" %}
{% load staticfiles %}
{% load foundation_formtags %}
{% load markdown_deux_tags %}

{% block head %}
  {{ form.media }}
  <script type="text/javascript" src="{% static 'javascript/create-notice.js' %}"></script>
{% endblock %}

{% block title %}
  
{% endblock %}
  
{% block content %}
  <div class="row column small-12">
    <h1><small>(Step 2 of 3)</small> Location</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.location }}
      <div>
        <button type="submit" class="button expanded">Create</button>
      </div>
    </form>
  </div>
{% endblock %}