{% extends "base.html" %}
{% load staticfiles %}
{% load foundation_formtags %}
{% load markdown_deux_tags %}

{% block head %}
  {{ form.media }}
  <script type="text/javascript" src="{% static 'javascript/create-notice.js' %}"></script>
{% endblock %}

{% block title %}
  
{% endblock %}
  
{% block content %}
  <div class="row column small-12">
    <h1><small>(Step 1 of 3)</small>Details of the notice</h1>
    <form action="" method="post">
      {% csrf_token %}
      {% render_field form.title %}
      <small>e.g. 'Application for alcohol licence - House of Wine' or 'Westlow Food Bank - items required'"</small>
      {% render_field form.description %}
      <small>You can use markdown here</small>
      <label>Tags</label>
      <small>
        e.g. type:planning application, organisation:House of Wine, items-required:beans,tampons,toothpaste. <a href="{{settings.WIKI_URL}}">Consult the wiki</a> to see the information to add for different types of notice.
      </small>
      {{form.tags}}
      <div>
        <button type="submit" class="button expanded">Next</button>
      </div>
    </form>
  </div>
{% endblock %}