<table class="tag-input">
  <tr>
    <th class="key">Name</th>
    <th class="value">Value</th>
  </tr>
  {% for k, v in value %}
    <tr>
      <td class="key">
        <label for="{{name}}_key_{{forloop.counter0}}">Name for tag {{forloop.counter}}</label>
        <input pattern="[a-z0-9]+" name="{{name}}_key_{{forloop.counter0}}" id="{{name}}_key_{{forloop.counter0}}" type="text" value="{{k}}">
      </td>
      <td class="value">
        <label for="{{name}}_value_{{forloop.counter0}}">Value for tag {{forloop.counter}}</label>
        <textarea name="{{name}}_value_{{forloop.counter0}}" id="{{name}}_value_{{forloop.counter0}}">{{v}}</textarea>
      </td>
    </tr>
  {% endfor %}
</table>