<label id="{{id}}-label">{{id}}</label>
<textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
<style>
  .clear-selection {
    top: 0.5em;
    right: .5em;
  }
  .clear-selection button {
    width: auto;
    padding-left:0.5em;
    padding-right:0.5em;
  }
  .geolocation {
    top: 4em;
    right: .5em;
  }
  .geolocation button {
    width: auto;
    padding-left:0.5em;
    padding-right:0.5em;
  }
 .draw-point {
    top: 8em;
    right: .5em;
  }
  .draw-point button {
    width: auto;
    padding-left:0.5em;
    padding-right:0.5em;
  }

   .draw-linestring {
    top: 11em;
    right: .5em;
  }
  .draw-linestring button {
    width: auto;
    padding-left:0.5em;
    padding-right:0.5em;
  }
   .draw-polygon {
    top: 14em;
    right: .5em;
  }
  .draw-polygon button {
    width: auto;
    padding-left:0.5em;
    padding-right:0.5em;
  }
 /* .ol-touch .clear-selection {
    top: 0.5em;
  }

  .ol3-geocoder-container {
    width:100%;
    top:10px;
  }
  .ol3-geocoder-search {
    width:100%;
  } 
  .ol3-geocoder-search button {
    display:none;
  }

  .ol3-geocoder-input-search {
    top:0;
    width:98%;
    left:5px;
    right:10px;
  }

  ul.ol3-geocoder-result {
    left:0;
    width:98%;
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
  }*/

</style>