{% extends 'base.html' %}
{% load foundation_formtags %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="column row small-12 medium-6">
    <h1>Sign in</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|as_foundation }}
      <button type="submit" class="button expanded">Sign in</button>
    </form>
    <p>
      {% if request.GET.next %}
      
      <a href="{% url 'register' %}?next={{ request.GET.next }}">Or create an account</a>
      {% else %}
        <a href="{% url 'register' %}">Or create an account</a>
      {% endif %}
    </p>
  </div>
{% endblock %}