<label id="{{id}}-label">{{id}}</label>
<textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>

<div id="map-controls"></div>
<div id="map" class="map"></div>
<style>
  .clear-selection {
    top: 0.5em;
    right: .5em;
  }
  .clear-selection button {
    width: auto;
    padding-left:0.5em;
    padding-right:0.5em;
  }
  .ol-touch .clear-selection {
    top: 0.5em;
  }
</style>
 <script>

    ClearSelectionControl = function(opt_options) {

        options = opt_options || {};

        button = document.createElement('button');
        button.innerHTML = 'Clear';
        button.setAttribute('type', 'button');

        var this_ = this;
        var handleClearSelection = function() {
          layer = this_.getMap().getLayers().getArray()[1]
          source = layer.getSource();
          source.clear();
          return false;
        };

        button.addEventListener('click', handleClearSelection, false);
        button.addEventListener('touchstart', handleClearSelection, false);

        var element = document.createElement('div');
        element.className = 'clear-selection ol-unselectable ol-control';
        element.appendChild(button);

        ol.control.Control.call(this, {
          element: element,
          target: options.target
        });

      };

    ol.inherits(ClearSelectionControl, ol.control.Control);

    //Hide the text area
    document.getElementById('{{ id }}').setAttribute("hidden", true);
    document.getElementById('{{id}}-label').setAttribute("hidden", true);

    //Layers
    raster = new ol.layer.Tile({source: new ol.source.OSM()});
    source = new ol.source.Vector({wrapX: false});
    vector = new ol.layer.Vector({source: source});

    //map
    var map = new ol.Map({
        controls: ol.control.defaults({
            attributionOptions: ({collapsible: false})
            }).extend([
          new ClearSelectionControl()
        ]),
        layers: [raster, vector],
        target: 'map',
        view: new ol.View({
          center: [-11000000, 4600000],
          zoom: 15
        })
    });

    //drawing
    interaction = new ol.interaction.Draw({source: source, type: 'Polygon',freehand: true});
    interaction.on('drawstart', function (event) {
        source.clear();
    });
    map.addInteraction(interaction);

    //geolocation
    geolocation = new ol.Geolocation({  
        // Get the current map projection
        projection: map.getView().getProjection(), 
        // Track the user position
        tracking: true
    });
    geolocation.on('change', function(evt) {
      map.getView().setCenter(geolocation.getPosition());
    });

    //store the geojson
    source.on('addfeature', function(){
        var writer = new ol.format.GeoJSON();
        var features = source.getFeatures();
        document.getElementById('{{ id }}').value = writer.writeGeometry(features[0].getGeometry());
    });


    // //add a clear button
    // clear_button = document.createElement('button');
    // clear_button.id = 'clear_button'
    // clear_button.className = 'button secondary';
    // clear_button.innerHTML = 'Clear selection';
    // clear_button.disabled = true;
    // clear_button.onclick = function(){
    //     source.clear();
    //     return false;
    // }



    
    </script>